ul,
li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-image: url('https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    /* Replace with your image path */
    background-size: cover;
    /* Ensures the image covers the container */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Avoids tiling the image */
    height: 100%;
    /* Full height of the viewport */
    width: 100%;
    /* Full width of the viewport */
}

/* INDEX */
button {
    font-family: "Libre Franklin", sans-serif;
}


.imgHeader{width: 100%;
    display: flex;
justify-content:  center;}
.imgHeader img {width: 5%;}
.ul_nav {
    display: flex;
    justify-content: space-around;
    color: white;
}

.buscador {
    display: flex;
    justify-content: center;
}

.titleIndex {
    justify-self: center;
    color: white;
}

.card_article, .categoryBody {
    color: #e1efe6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.card {
    background-color: #160628;
    width: 18%;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 15%;
    padding: 5px;
}

.card:hover {
    box-shadow: 5px 5px 5px 5px black;

}

.cardImg {
    margin-top: 10px;
    width: 70%;
    border-radius: 15%;
}

.buttonCard {
    border-radius: 20%;
    margin-bottom: 10px;
    background-color: #e1efe6;
    border-radius: 10%;
    color: black;
    font-size: small;


}

.botonAgregar {
    justify-self: center;
    font-size: larger;
}

.botonAgregar:hover {
    justify-self: center;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.buttonConocer {
    display: flex;
    justify-content: center;
}

.buttonConocer:hover {
    display: flex;
    font-size: xx-large;
    justify-content: center;
}

/* INDEX FIN*/

/* DETALLE.HTML */

.ingredientes_instrucciones {
    color: white;
    display: flex;
    justify-content: space-around;
}

.detalle_img {
    width: 30%;
    border-radius: 10%;
}

.detalle_img_container {
    display: flex;
    justify-content: center;
}

.h1Detalle {
    color: white;
    justify-self: center;
}

.h3Detalle {
    justify-self: center;
    color: white;
}

.ingredientes h3,
.categorias h3,
.instrucciones h3 {
    align-self: center;
}
.detalle_category{
    display: flex;
    border-radius: 10%;
    background-color: white;
    color: black;
    justify-content: center;
}

/* DETALLE.HTML FIN */


/* LOGIN */

.body_login{
    background-image: url('https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Replace with your image path */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100%; 
    display: flex;
   flex-direction: column;
   align-items:  center;
}

.log{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 100%;
    padding: 20px;
    justify-content: center;
}

#loginfFormulario{
    display: flex;
    flex-direction: column;
}

.sesion_login{
   
    font-size: 40px;
    color: bisque;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;    
}

label{
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: bisque;
}

.buttonLogin{
    font-size: 15px;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 5px;
    width: 15%;
    padding-top: 12px;
   justify-content: center;
    width: 100%;
    margin-top: 10px;
}
/* LOGIN FIN */

/* REGISTRO */

.body_registro{
    background-image: url('https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Replace with your image path */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100%; 
    display: flex;
   flex-direction: column;
   align-items:  center;
    
}

.registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    max-width: 100%;
    padding: 20px;
    
}

#registroForm {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
label{
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: bisque;
}

.rtitulo{
    display: flex;
    color: bisque;
    justify-content: center;
    font-size: 40px;
}

/* CATEGORY */
.h1Category, .h1Categories{
    color: white;
    justify-self: center;
}

.categoriesBody{
width: 90%;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.detalle_categories {
    background-color: white;
    font-size: medium;
    color: black;
    margin: 10px;
    width: 10%;
    text-align: center;
    border-radius: 20%;
}
.detalle_categories:hover {
    box-shadow: 5px 5px 5px 5px black;

}
@media(max-width:480px){

    body {background-color: #160628;
        background-size:auto;}
    .detalle_categories{width: 40%;}

    .card{
        width: 90%;
        border: 3px solid;
    }
    .ul_nav{
        display: none;
    }

    .card_article{
        width:100%;
        justify-content: center;
    }
}