
body {
    background-color: #aeb7b3;
   font-family: "Libre Franklin", sans-serif;
}

button {
    font-family: "Libre Franklin", sans-serif;
}

.ul_nav {
    display: flex;
    justify-content: space-around;
}

.titleIndex {justify-self: center;}

.card_article {
    color: #e1efe6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.card {
    background-color: #160628;
    width: 30%;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 15%;
}

.cardImg {
    margin-top: 10px;
    width: 70%;
    border-radius: 15%;
}

.buttonCard {
    border-radius: 20%;
    margin-bottom: 10px;
}

.botonAgregar {
    justify-self: center;
    font-size: larger;
}